<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Practicing CSS</title>
        <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    </head>c
    <body>
        <!--level 1 heading-->
        <h1>About Me</h1>

        <!--Level 2 heading-->
        <h2>Basic Information</h2>

        <!--adding the Robert Smith Logo with correct size and width-->
        <img src="https://terpconnect.umd.edu/~jbono/bmgt407/images/smith-logo.png"
             alt="logo" class="logo">

        <!--adds paragraph-->
        <p class = "intro">My name is Tina Li and I go to <strong>UMD</strong>. I major in <em>Finance and Information Systems</em>.</p>

        <!--bolds this level 2 heading-->
        <p><strong>My Spring 2024 Finance courses:</strong></p>

        <!--unordered list is in bullets-->
        <ul>
            <li>BMGT343</li>
            <li>BMGT440</li>
        </ul>

        <p><strong>My Information Systems courses:</strong></p>

        <!--ordered list is numbered-->
        <ol>
            <li>BMGT407</li>
            <li>BMGT332</li>
        </ol>

        <h2>Courses I Took</h2>

        <!--table of courses and which semesters I took them-->
        <table>
            <tr>
                <th>Course</th>
                <th>Semester</th>
            </tr>
            <tr>
                <td>BMGT407</td>
                <td>Spring 2024</td>
            </tr>
             <tr>
                <td>BMGT402</td>
                <td>Fall 2023</td>
            </tr>
             <tr>
                <td>BMGT302</td>
                <td>Fall 2023</td>
            </tr>
        </table>

        <!--links to my favorite websites-->
        <p>A link to the <a href="http://127.0.0.1:5000/">hello world.</a></p>
        <p>A link to <a href="https://www.netflix.com/browse">my first favorite website.</a></p>
        <p>A link to <a href="https://chat.openai.com/">my second favorite website.</a></p>


        <h2>Fun Facts About Me</h2>
        <p id="special-paragraph">I have <em>2 cats</em> and <em>1 dog</em>. But I like <strong>cats</strong> more.</p>
    </body>
</html>