{% extends "base.html" %}

{% block page_title %}
    Training Page
{% endblock %}

{% block page_head %}
    <div class="container">
        <div class = "row">
            <!--title-->
            <header>Training Page Coming Soon!</header>
            <div style="font-size: 20px;">
                <!--links my email-->
                Welcome to your training for the TerpSys Student Information System.
                Training materials are currently under construction, but will be created very soon.
                Please check back soon or email Tina Li at
                <a href="mailto:tli12@terpmail.umd.edu">
                    tli12@terpmail.umd.edu
                </a>
                if you wish to be placed on the waiting list.
            </div>
        </div>
    </div>

{% endblock %}


